@model Exercise_2.Models.Assign

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Assign</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Party.p_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Party.p_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.pr_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.pr_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
