@model IEnumerable<Exercise_2.Models.Party>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
            {
                <p>Find By Party :@Html.TextBox("searchString")
                 <input type="submit"value="Search"/>
    </p>
            }
<table class="table">
    <tr>
        <th>@Html.ActionLink("Id","Index",new {sortOrder =ViewBag.IdSort })</th>
        <th>@Html.ActionLink("PartyName","Index",new { sortOrder =ViewBag.NameSortParm })</th>
        <th>
            @Html.DisplayNameFor(model => model.p_name)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem=>item.id)</td>
        <td>
            @Html.DisplayFor(modelItem => item.p_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
